/* #offcanvasBasket or ._cad536bb9925258cfbb7480e0a68d883 */

._cad536bb9925258cfbb7480e0a68d883 {
    width: calc(320px + (100vw - 320px) * (293/ 1600)) !important;
}

._cad536bb9925258cfbb7480e0a68d883 p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}

._cad536bb9925258cfbb7480e0a68d883 a {
    margin: 0;
}

._cad536bb9925258cfbb7480e0a68d883 h5 {
    margin: 0;
}

._cad536bb9925258cfbb7480e0a68d883 .offcanvas-group {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    overflow-y: auto;
    height: 100%;
}

._cad536bb9925258cfbb7480e0a68d883 .offcanvas-group .offcanvas-body {
    overflow-y: auto;
}

._cad536bb9925258cfbb7480e0a68d883 .offcanvas-group .offcanvas-footer {
    border-top: 1px solid #E8E8E8;
    padding: 24px;
}