._c86e7976654b821918476186f04f86dd {
    display: flex;
    align-items: center;
}

._c86e7976654b821918476186f04f86dd .counter-group {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    max-height: 40px;
}

._c86e7976654b821918476186f04f86dd .counter-group .btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #969696;
}

._c86e7976654b821918476186f04f86dd .counter-group .btn.btn-count {
    cursor: default;
    border: 0;
}

._c86e7976654b821918476186f04f86dd .btn-trash {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    max-height: 40px;
}