._cad536bb9925258cfbb7480e0a68d883 .offcanvas-group .offcanvas-header .btn-close {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;

    width: fit-content;
    height: 22px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    opacity: 1;
}

._cad536bb9925258cfbb7480e0a68d883 .offcanvas-group .offcanvas-header .btn-close .icon-close {
    padding: 4px;
}

._cad536bb9925258cfbb7480e0a68d883 .offcanvas-group .offcanvas-header .btn-close .text-close {
    flex: none;
    order: 1;
    flex-grow: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1C1C1C;
}