#offcanvasBasket {
    width: calc(320px + (100vw - 320px) * (293/ 1600)) !important;
}

#offcanvasBasket p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}

#offcanvasBasket a {
    margin: 0;
}

#offcanvasBasket p {
    margin: 0;
}

#offcanvasBasket h5 {
    margin: 0;
}

#offcanvasBasket .offcanvas-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#offcanvasBasket .offcanvas-container .btn-close-basket {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;

    width: fit-content;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

#offcanvasBasket .offcanvas-container .btn-close-basket .icon-close {
    padding: 4px;
}

#offcanvasBasket .offcanvas-container .btn-close-basket .text-close {
    flex: none;
    order: 1;
    flex-grow: 0;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1C1C1C;
}

#offcanvasBasket .offcanvas-container .product-item {
    display: flex;
    width: 100%;
    padding: 0 24px;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    flex-wrap: nowrap;
}


#offcanvasBasket .offcanvas-container .product-item .counter-group button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #969696;
}

#offcanvasBasket .offcanvas-container .product-item .btn-to-trash {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}